In [5]:
#import libraries
#!pip install kaggle
import kaggle
import pandas as pd

In [79]:
#read data from the file and handle null values
df = pd.read_csv('orders.csv', na_values = ['Not Available' ,'unknown'])
#df['Ship Mode'].unique()

In [75]:
#rename columns names ..make them lower case and replace space with underscore
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [47]:
#derive new columns discount , sale price and profit
df['discount'] = df['list_price']*df['discount_percent']*0.01
df['sale_price'] = df['list_price']- df['discount']
df['profit'] = df['sale_price']- df['cost_price']

In [57]:
#convert order date from object data type to datetime
df['order_date'] = pd.to_datetime(df['order_date'] , format ="%Y-%m-%d")

In [65]:
#drop cost price list price and discount percent columns
df.drop(columns = ['list_price', 'cost_price','discount_percent'], inplace = True)

In [71]:
#load the data into sql server using replace option
import sqlalchemy as sal
engine = sal.create_engine(r'mssql://MSI\SQLEXPRESS/namastesql?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [73]:
df.to_sql('df_orders', con=conn , index=False, if_exists = 'replace')

38